.chatroom{
    height:30em;
    overflow-x:hidden;
    overflow-y:auto;
}
.title{
    width:30%;
    margin-inline:auto;
    font-size:30px;
}
#listTarget{
    color:fuchsia;
}
.mainHeader{
    color: fuchsia;
}